In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import cluster
from sklearn import preprocessing as p

In [2]:
from sklearn.decomposition import PCA

In [3]:
# loading data 
data= pd.read_csv('CC GENERAL.csv')

In [4]:
# to get sample from data
data.sample(5)

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
8532,C18764,22.322374,0.363636,95.00,95.00,0.00,1162.045833,0.083333,0.083333,0.000000,0.166667,3,1,2500.0,4094.261427,40.142262,0.000000,12
3439,C13536,72.033516,1.000000,837.43,39.00,798.43,0.000000,1.000000,0.083333,1.000000,0.000000,0,22,2500.0,948.576582,169.887225,0.583333,12
7266,C17462,564.026880,1.000000,1007.40,941.82,65.58,0.000000,0.500000,0.500000,0.083333,0.000000,0,11,2000.0,506.930593,198.495070,0.000000,12
711,C10738,838.616485,1.000000,375.57,375.57,0.00,99.587515,0.250000,0.250000,0.000000,0.083333,1,3,6000.0,779.057364,179.426850,0.000000,12
7054,C17246,189.463475,1.000000,0.00,0.00,0.00,662.790719,0.000000,0.000000,0.000000,0.166667,3,0,500.0,1082.344709,132.396963,0.166667,12

In [17]:
data.columns

Index(['CUST_ID', 'BALANCE', 'BALANCE_FREQUENCY', 'PURCHASES',
       'ONEOFF_PURCHASES', 'INSTALLMENTS_PURCHASES', 'CASH_ADVANCE',
       'PURCHASES_FREQUENCY', 'ONEOFF_PURCHASES_FREQUENCY',
       'PURCHASES_INSTALLMENTS_FREQUENCY', 'CASH_ADVANCE_FREQUENCY',
       'CASH_ADVANCE_TRX', 'PURCHASES_TRX', 'CREDIT_LIMIT', 'PAYMENTS',
       'MINIMUM_PAYMENTS', 'PRC_FULL_PAYMENT', 'TENURE'],
      dtype='object')

we see that the column names are consistent all are uppercase letters and no space exist

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8950 entries, 0 to 8949
Data columns (total 18 columns):
CUST_ID                             8950 non-null object
BALANCE                             8950 non-null float64
BALANCE_FREQUENCY                   8950 non-null float64
PURCHASES                           8950 non-null float64
ONEOFF_PURCHASES                    8950 non-null float64
INSTALLMENTS_PURCHASES              8950 non-null float64
CASH_ADVANCE                        8950 non-null float64
PURCHASES_FREQUENCY                 8950 non-null float64
ONEOFF_PURCHASES_FREQUENCY          8950 non-null float64
PURCHASES_INSTALLMENTS_FREQUENCY    8950 non-null float64
CASH_ADVANCE_FREQUENCY              8950 non-null float64
CASH_ADVANCE_TRX                    8950 non-null int64
PURCHASES_TRX                       8950 non-null int64
CREDIT_LIMIT                        8949 non-null float64
PAYMENTS                            8950 non-null float64
MINIMUM_PAYMENTS                    8637 non-null float64
PRC_FULL_PAYMENT                    8950 non-null float64
TENURE                              8950 non-null int64
dtypes: float64(14), int64(3), object(1)
memory usage: 1.2+ MB

we can see that that first feature is object as it has letter 'C' in it 
there are only two columns that have missing values in it 'CREDIT LIMIT' has 1 missing value and 'MINIMUM_PAYMENTS' has 313 misiing values
also no parsing needed as each column has correct type

In [4]:
# to drop any duplicate rows
data.drop_duplicates(inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8950 entries, 0 to 8949
Data columns (total 18 columns):
CUST_ID                             8950 non-null object
BALANCE                             8950 non-null float64
BALANCE_FREQUENCY                   8950 non-null float64
PURCHASES                           8950 non-null float64
ONEOFF_PURCHASES                    8950 non-null float64
INSTALLMENTS_PURCHASES              8950 non-null float64
CASH_ADVANCE                        8950 non-null float64
PURCHASES_FREQUENCY                 8950 non-null float64
ONEOFF_PURCHASES_FREQUENCY          8950 non-null float64
PURCHASES_INSTALLMENTS_FREQUENCY    8950 non-null float64
CASH_ADVANCE_FREQUENCY              8950 non-null float64
CASH_ADVANCE_TRX                    8950 non-null int64
PURCHASES_TRX                       8950 non-null int64
CREDIT_LIMIT                        8949 non-null float64
PAYMENTS                            8950 non-null float64
MINIMUM_PAYMENTS                    8637 non-null float64
PRC_FULL_PAYMENT                    8950 non-null float64
TENURE                              8950 non-null int64
dtypes: float64(14), int64(3), object(1)
memory usage: 1.3+ MB

we can see there is no duplication in rows

In [10]:
data['CUST_ID'].unique().shape[0]

8950

In [5]:
#knowing  unuseful features
data.apply(lambda x: (x.unique().shape[0]/data.shape[0]) * 100)

CUST_ID                             100.000000
BALANCE                              99.117318
BALANCE_FREQUENCY                     0.480447
PURCHASES                            69.307263
ONEOFF_PURCHASES                     44.849162
INSTALLMENTS_PURCHASES               49.743017
CASH_ADVANCE                         48.301676
PURCHASES_FREQUENCY                   0.525140
ONEOFF_PURCHASES_FREQUENCY            0.525140
PURCHASES_INSTALLMENTS_FREQUENCY      0.525140
CASH_ADVANCE_FREQUENCY                0.603352
CASH_ADVANCE_TRX                      0.726257
PURCHASES_TRX                         1.932961
CREDIT_LIMIT                          2.301676
PAYMENTS                             97.329609
MINIMUM_PAYMENTS                     96.502793
PRC_FULL_PAYMENT                      0.525140
TENURE                                0.078212
dtype: float64

as we dee the 'CUSt_ID' and 'BALANCE' columns has more than 99%  unique values so there is no information or structure in        them

In [5]:
#dropping unuseful features 
data.drop(['CUST_ID','BALANCE'],axis=1,inplace=True)

In [8]:
#Filling missing values with median of each column as median not sensitive to outliers
data.fillna(value=data.median())
#to be sure there is no messing values
data.isna().all().all()

False

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8950 entries, 0 to 8949
Data columns (total 16 columns):
BALANCE_FREQUENCY                   8950 non-null float64
PURCHASES                           8950 non-null float64
ONEOFF_PURCHASES                    8950 non-null float64
INSTALLMENTS_PURCHASES              8950 non-null float64
CASH_ADVANCE                        8950 non-null float64
PURCHASES_FREQUENCY                 8950 non-null float64
ONEOFF_PURCHASES_FREQUENCY          8950 non-null float64
PURCHASES_INSTALLMENTS_FREQUENCY    8950 non-null float64
CASH_ADVANCE_FREQUENCY              8950 non-null float64
CASH_ADVANCE_TRX                    8950 non-null int64
PURCHASES_TRX                       8950 non-null int64
CREDIT_LIMIT                        8949 non-null float64
PAYMENTS                            8950 non-null float64
MINIMUM_PAYMENTS                    8637 non-null float64
PRC_FULL_PAYMENT                    8950 non-null float64
TENURE                              8950 non-null int64
dtypes: float64(13), int64(3)
memory usage: 1.1 MB

Now all columns are numeric and also no missing values in the data

In [36]:
# function to identify outliers in column 
# it take dataframe column name as string
def identify_outliers(df,col_name):
    Q1=df[col_name].quantile(0.25)
    Q3=df[col_name].quantile(0.75)
    IQR=Q3-Q1
    max_value=Q3+1.5*IQR
    min_value=Q1-1.5*IQR
    return list(df[ (df[col_name]>max_value) | (df[col_name]<min_value)]['CUST_ID'])

In [37]:
# remove outliers 
customer_outlier=[]
columns=list(data.columns)
data_no_outlier=data
for column in columns[1:]:
    customer_outlier.append(identify_outliers(data_no_outlier,column))

In [50]:
intersected_outliers=set(customer_outlier[0]).intersection(set(customer_outlier[1]))
#for i in customer_outlier[1:3]:
    
 #   intersected_outliers=intersected_outliers.intersection(set(i))
    
intersected_outliers.intersection(set(customer_outlier[2]))

set()

In [16]:
pca=PCA(n_components=2)
data_array=np.array(num_data)
components=pca.fit_transform(X=data_array)

TypeError: float() argument must be a string or a number, not 'method'

In [11]:
num_data.describe()

,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,PAYMENTS,PRC_FULL_PAYMENT,TENURE
count,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000
mean,0.877271,1003.204834,592.437371,411.067645,978.871112,0.490351,0.202458,0.364437,0.135144,3.248827,14.709832,1733.143852,0.153715,11.517318
std,0.236904,2136.634782,1659.887917,904.338115,2097.163877,0.401371,0.298336,0.397448,0.200121,6.824647,24.857649,2895.063757,0.292499,1.338331
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000
25%,0.888889,39.635000,0.000000,0.000000,0.000000,0.083333,0.000000,0.000000,0.000000,0.000000,1.000000,383.276166,0.000000,12.000000
50%,1.000000,361.280000,38.000000,89.000000,0.000000,0.500000,0.083333,0.166667,0.000000,0.000000,7.000000,856.901546,0.000000,12.000000
75%,1.000000,1110.130000,577.405000,468.637500,1113.821139,0.916667,0.300000,0.750000,0.222222,4.000000,17.000000,1901.134317,0.142857,12.000000
max,1.000000,49039.570000,40761.250000,22500.000000,47137.211760,1.000000,1.000000,1.000000,1.500000,123.000000,358.000000,50721.483360,1.000000,12.000000